@page "/"

<h1>Hello, world!</h1>

Welcome to my portfolio. I love coding, my first ever memory of coding was using assembly (no pun intended), using RAM dumps from ISOs and I didn't even realise I was coding at the time. THere's '
