@page "/"

<h1>Hello, world!</h1>

Welcome to my portfolio. I love coding, my first ever memory of coding was using assembly (no pun intended), using RAM dumps from ISOs and I didn't even realise I was coding at the time. At the time I would compete to make code that was made by people much older than me, and it was incredible, so fun, I loved the expereience. Funnily enough, I didn't even consider any of that code at the time, to me it was just modifying a game and playing for fun, but when I was even younger I wrote down in my final year of primary school, (year 6 - ~ 10 years old) I wrote down that I would like to make robots in the future. This is a story I tell quite often, since I have taught many children how to code, many of whom were in year 6.
<br  />
<img src="/css/Assets/London_28.jpg" alt="me at the River Thames" height="500" width="500">