@page "/Projects"

<h1>Projects</h1>

<p>On this page I will show you some of the projects that I have done. I do like shipping final products, however I also love experimenting with new technologies, for example this whole website is made using Blazor, doig thigs with the Graph API may not give a full product, since a lot of the new things that I try are in the testing phase so there are many bugs which limit the amount I am able to achieve, especially since I am trying from an non-employee perspective with limited resources</p>

<button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>
@foreach(var book in books)
{
    <tr>
        <td>@project1.Title</td>
    </tr>
}

@code {
int currentCount2 = 0;
List<string> listTitle = new List<string>() { "Rocket Gravity Assist Simulation", "Film Adder", "UWP To Do List", "Type Racing Application", "Noise Threshold Alerts" };

ProjectsObj project1 = new ProjectsObj("Rocket Gravity Assist Simulation", "Made for physics teacher", "This program demonstrates the use of the gravity slingshot effect which can be used by physics students doing A level or GCSE physics to help prepare for their exam and use for homework as well as in the lesson as an interactive activity");

List<ProjectsObj> listOfProjects = new List<ProjectsObj>();
void IncrementCount2()
{

    currentCount2++;
}
}
