@page "/Projects"

<h1>Projects</h1>

<p>On this page I will show you some of the projects that I have done. I do like shipping final products, however I also love experimenting with new technologies, for example this whole website is made using Blazor, doig thigs with the Graph API may not give a full product, since a lot of the new things that I try are in the testing phase so there are many bugs which limit the amount I am able to achieve, especially since I am trying from an non-employee perspective with limited resources</p>

<button class="btn btn-primary" @onclick="addToList">Click me</button>
@*@addToList();*@

@foreach(var project in projects)
{
<tr>
    <h1>@project.Title</h1>
    <p><i>@project.Subtitle</i></p>
    <img src="/css/London_28.jpg" alt="me at the River Thames" height="500" width="500">
</tr>
}



@code {
        int currentCount2 = 0;
@*//creating works*@
@*List<string>
    listTitle = new List<string>
        () { "Rocket Gravity Assist Simulation", "Film Adder", "UWP To Do List", "Type Racing Application", "Noise Threshold Alerts" };*@
    //adding to list fails

    ProjectsObj project1 = new ProjectsObj("Rocket Gravity Assist Simulation", "Made for physics teacher", "This program demonstrates the use of the gravity slingshot effect which can be used by physics students doing A level or GCSE physics to help prepare for their exam and use for homework as well as in the lesson as an interactive activity");
    ProjectsObj project2 = new ProjectsObj("Film Adder", "Made for adding films", "This program can be used to share films with your friends, and family, also track which films you want to watch, as well as leave a rating", "/css/FilmAdder.png");


        List<ProjectsObj> projects = new List<ProjectsObj>();
 void addToList()
{
    projects.Add(project1);
        projects.Add(project2);

}

                void IncrementCount2()
{

    currentCount2++;
}
                }

