@page "/Projects"

<h1>Projects</h1>

<p>On this page I will show you some of the projects that I have done. I do like shipping final products, however I also love experimenting with new technologies, for example this whole website is made using Blazor, doig thigs with the Graph API may not give a full product, since a lot of the new things that I try are in the testing phase so there are many bugs which limit the amount I am able to achieve, especially since I am trying from an non-employee perspective with limited resources</p>

<button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>

@foreach(var text in listTitle)
{
<tr>
    <td>@text</td>
</tr>
}



@code {
        int currentCount2 = 0;
@*//creating works*@
@*List<string>
    listTitle = new List<string>
        () { "Rocket Gravity Assist Simulation", "Film Adder", "UWP To Do List", "Type Racing Application", "Noise Threshold Alerts" };
        @*//adding to list fails*@
                listTitle.Add("test");*@

                void IncrementCount2()
                {

                currentCount2++;
                }
                }

