@page "/Projects"

<h1>Projects</h1>

<p>On this page I will show you some of the projects that I have done. I do like shipping final products, however I also love experimenting with new technologies, for example this whole website is made using Blazor, doig thigs with the Graph API may not give a full product, since a lot of the new things that I try are in the testing phase so there are many bugs which limit the amount I am able to achieve, especially since I am trying from an non-employee perspective with limited resources</p>


@foreach (var project in projects.projects)
{

    <h1 style="margin-top: 20px">@project.Title</h1>
    <p style="margin: 0; padding: 0;"><i>@project.Subtitle</i></p>
    <div>
        @if (project.ImagePath != null)
        {
            <div style="float: left">
                <iframe id="demo" width="560" height="315" src="@project.ImagePath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div style="float: right">
                <p style="float: left">@project.Description</p>
            </div>

        }
    </div>
    <br>
}

@code {
    ProjectsObj projects = new ProjectsObj();
}

